html,body {
    background: radial-gradient(#A7DFFF 20%, #005AFF 20%, #1200BA 60%);
    text-align: center;
}
#roomname {
    width: 75%;
    height: 10%;
    margin-left: 12%;
}
.display {
    background-color: #A7DFFF;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(217, 235, 250);
}